@model IEnumerable<Restaurant_Management_System.Areas.Register.Models.RegisterationModel>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>UserList</h1>
<table class="table table-bordered table-hovered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Is_Active)
            </th>
            <th colspan="3" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Is_Active)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserID }, new { @class = "btn btn-primary", @style = "display:flex;justify-content:center;align-items:center;" })
            </td>
            <td>
                    @Html.ActionLink("Details", "Details", new { id=item.UserID }, new { @class = "btn btn-warning", @style = "display:flex;justify-content:center;align-items:center;" })
            </td>
            <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserID }, new { @class = "btn btn-danger", @style = "display:flex;justify-content:center;align-items:center;" })
            </td>
        </tr>
}
    </tbody>
</table>
